.grid_container{
    display: flex;
    gap: 10%;
}

.grid_icon{
    font-size: 2rem;
}

.grid_title{
    font-weight: 700;
    color: #3CC3F1;
    font-size: 18px;
    text-align: left;
}
.Grid_box{
    background-color: rgb(17, 41, 73);
    padding: 20px 15px;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.grid_text{
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
}

@media (max-width: 480px) {
    .Grid_box{
        width: 90%;
        height: 220px;
        margin: auto;
    }
    .grid_text{
        font-size: 20px;
    }
}